* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 98vw;
  margin: 4vh auto 4vh auto;
  background-color: #ecf0f3;
}
.HeaderOptions {
  display: flex;
  flex-direction: row;
}

#NotificationBell {
  display: flex;
}
